@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  position:absolute;
  left: 41%;
}

.username-text
{
  margin: 5px;
}

.password-text
{
  margin: 5px;
}

.title
{
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  position: absolute;
  left: 48%;
  top: 30%;

}

.password-form
{
  width: 140%;
  height: 20%;
}

.username-form
{
  width: 140%;
  height: 20%;
}

.login-btn
{
  position:absolute;
  left: 38%;
  top: 60%;
  width: 60%;
  color: white;
  background-color: rgb(29, 170, 212);
}

table, th, td {
  border: 1px solid black;
  display: flex;

  /*width:100%;*/
}