@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  position:absolute;
  left: 41%;
}

.username-text
{
  margin: 5px;
}

.password-text
{
  margin: 5px;
}

.title
{
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  position: absolute;
  left: 48%;
  top: 30%;

}

.password-form
{
  width: 140%;
  height: 20%;
}

.username-form
{
  width: 140%;
  height: 20%;
}

.login-btn
{
  position:absolute;
  left: 38%;
  top: 60%;
  width: 60%;
  color: white;
  background-color: rgb(29, 170, 212);
}

table, th, td {
  border: 1px solid black;
  /*width:100%;*/
}

.map-btn
{
  position:absolute;
  left: 70%;
  bottom: 50%;
  width: 90px;
  border-radius: 30px;
  box-shadow: 5px 3px rgba(0,0,0,0.2);
}

.map-btn:active
{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.leaflet-container
{
  width: 100vw;
  height: 100vh;
}

.table-btn
{
  position:absolute;
  left: 85%;
  bottom: 10%;
  z-index: 100;
  width: 90px;
  border-radius: 30px;
  box-shadow: 5px 3px rgba(0,0,0,0.2);
  background-color: rgb(96, 199, 212);
}

.table-btn:active
{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.map
{
  z-index: 0;
}

.filter-dashboard
{
  position:absolute;
  left: 70%;
  bottom: 35%;
}