@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  position:absolute;
  left: 41%;
}

.username-text
{
  margin: 5px;
}

.password-text
{
  margin: 5px;
}

.title
{
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  margin: 20px;
  padding: 10px;
}

.password-form
{
  width: 140%;
  height: 20%;
}

.username-form
{
  width: 140%;
  height: 20%;
}

.login-btn
{
  position:absolute;
  left: 50%;
  top: 70%;
  width: 20%;
}